body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #f0f0f0, #e0e0e0);
    font-family: Arial, sans-serif;
  }
  
  .index-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  
  .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .upload-section,
  .input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-bottom: 10px;
    color: #007bff;
  }
  
  .upload-section input[type="file"] {
    display: none;
  }
  
  .upload-section label {
    display: block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .upload-section label:hover {
    background-color: #0056b3;
  }
  
  .upload-section button {
    margin-top: 10px;
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .upload-section button:hover {
    background-color: #1e7e34;
  }
  
  .input-section {
    background-color: #fff; /* Change background color to white */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .input-section input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  .input-section button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .input-section button:hover {
    background-color: #0056b3;
  }
  
  /* Update the style for the download button */
  .input-section .download {
    background-color: #28a745; /* Green color */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .input-section .download:hover {
    background-color: #1e7e34; /* Darker green on hover */
  }
  
  .input-section .download {
    margin-top: 10px;
  }
  
  @media (max-width: 768px) {
    .upload-section,
    .input-section {
      flex-direction: column;
    }
  
    .upload-section button,
    .input-section button {
      margin-left: 0;
      margin-top: 10px;
    }
  }